* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    background-color: white;
}

nav {
    display: flex;
    width: 100%;
    background-color: teal;
    padding: 20px;
    gap: 20px;
    color: white;
}

nav h3 {
    margin-top: 2px;
}

aside {
    display: flex;
    height: 100vh;
}

.sidebar-left {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}

.content-1 {
    display: flex;
    gap: 10px;
    margin: 20px;
    color: white;
}

.content-1 p {
    margin-top: 3px;
}

.content-1:hover {
    background-color: rgb(193, 32, 32);
    border-radius: 5px;
    padding: 10px;
}


.container {
    display: flex;
}

.left-box {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 3px double #54cddf;
    color: #4b929d;
}

.sidebar-right {
    width: 300px;
    flex: 4;
    padding: 10px;
}

ul {
    padding: 10px;
    margin-left: 10px;
}

.group {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.group-box {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.view {
    background: #54cddf;
}

.remove {
    background: red;
    color: #fff;
}

.sidebar-right input {
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}

select {
    padding: 10px;
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background: #54cddf;
}

tr,
td,
th {
    border: 1px solid;
    padding: 10px;
}

tr:nth-child(even) {
    background: #e7f2f4;
}

.delete-icon {
    color: red;
    cursor: pointer;
    
}

.edit-icon {
    color: blue;
    cursor: pointer;
}

.delete-icon,
.edite-icon {
    width: 30%;
}