
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}


/* Style on header */
header{
    background-color: rgb(206, 68, 91);
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    gap: 15px;
}
header h3{
    color: white;
}

section {
    display: flex;
    height: 100vh;
}

.section-left {
    background-color: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 13%;
    height: 91vh;
    flex: 0.3;
    padding: 30px 0;
    position: sticky;
    top: 9vh;
}

.content-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    cursor: pointer;
    color: white;
}
.content-1:hover {
    background-color: rgb(191, 49, 49);
}
.content-1 a {
    margin-top: 3px;
    text-decoration: none;
    color: white;
}

.show-category{
    width: 80%;
    padding: 50px;
}

.add-category, .container-table{
    padding-top: 25px;
}
.header-show{
    flex: 2;
}
.show-category1{
    display: flex;
}
.search-button input{
    flex: 2;
    padding: 10px;
    border:none;
    border-radius: 8px;
    width: 300px;

}

hr{
    margin-top: 10px;
   border: black solid 1px;
}

.add-category button{
    padding: 15px;
    width: 200px;
    border: none;
    color: white;
    font-size:large;
    background-color: teal;
}

table{
    width: 100%;
}
thead{
    background-color: black;
    color: white;
}
table, th, td{
    border: 1px solid black ;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    text-align: center;
}

td span i{
    background-color: teal;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: larger;
}


/* ......../category-form/......... */

.show-category1 button{
    padding: 10px;
    width: 100px;
    border: none;
    background-color: teal;
    color: white;
    font-size: large;
}
.category-form{
    /* background-color: rgba(82, 102, 86, 0.205); */
    background-color: #ccc;
    color: black;
    border-radius: 5px;
    padding: 50px;
    margin: auto;
}
.form{
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    height: 300px;
    margin-top: 50px;
}

form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.name input{
    padding: 10px;
    width: 300px;
    border-radius: 7px;
}
form button{
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-size: large;

}

.show{
    display: block;
}

.hide{
    display: none;
}