* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}


/* Style on header */
header {
    background-color: rgb(206, 68, 91);
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    gap: 15px;
}

header h3 {
    color: white;
}

aside {
    display: flex;
    height: 100vh;
}

.sidebar-left {
    background-color: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 13%;
    height: 91vh;
    flex: 0.3;
    padding: 30px 0;
    position: sticky;
    top: 9vh;
}

.content-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    cursor: pointer;
    color: white;
}

.content-1:hover {
    background-color: rgb(191, 49, 49);
}

.content-1 a {
    margin-top: 3px;
    text-decoration: none;
    color: white;
}



.sidebar-right {
    width: 100%;
    background-color: white;
}

.list-lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* style on button  */
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons p {
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(36, 131, 162);
    color: white;
}


/* style on table  */
#new_product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    font-size: 15px;
    gap: 20px;
    margin-top: 20px;
    margin-right: auto;
    padding: 10px;
}
.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap:10px;
}
#clearfilter{
    width: 15%;
    background-color: teal;
    padding: 5px;
    color: white;
}
.container {
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border:1px solid #ccc;
    padding: 10px;
}
select {
    padding: 10px;
    width: 30%;
}
button {
    border:none;
    margin-left: 10px;
    cursor: pointer;
}
input {
    margin-right: 10px;
    width: 40%;
}


#btn-hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 20%;
}

.btn-hover:hover {
    background-color: #008000;
}

td .material-symbols-outlined {
    border-radius: 50%;
    background-color: rgb(46, 59, 113);
    color: white;
    padding: 5px;
}
td #quantity{
    width: 40%;
}



/* form add new product  but hide*/
#productForm {
    background-color: #928f8ff9;
    width: 50%;
}

dialog{
    margin-left: 30%;
    margin-top: 65px;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

.form-group {
    margin-left: 65px;
    width: 80%;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
dialog menu {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
#btn{
    display: flex;
}
