* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}


/* Style on header */
header{
    background-color: rgb(206, 68, 91);
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    gap: 15px;
}
header h3{
    color: white;
}

section {
    display: flex;
    height: 100vh;
}

.section-left {
    background-color: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 13%;
    height: 91vh;
    flex: 0.3;
    padding: 30px 0;
    position: sticky;
    top: 9vh;
}

.content-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    cursor: pointer;
    color: white;
}
.content-1:hover {
    background-color: rgb(191, 49, 49);
}
.content-1 a {
    margin-top: 3px;
    text-decoration: none;
    color: white;
}



.section-right {
    width: 100%;
    background-color: white;
}
.list-lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

/* style on button  */
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons p{
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(36, 131, 162);
    color: white;
}


/* style on table  */
table {
    border-collapse: collapse;

}

th,
td {
    border: 1px solid black;
    padding: 8px;
}
.title{
    text-align: center;
    margin: 20px;
}
.table-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
