* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
}


/* Style on header */
header{
    background-color: rgb(206, 68, 91);
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    gap: 15px;
}
header h3{
    color: white;
}

section {
    display: flex;
    height: 100vh;
}

.section-left {
    background-color: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 13%;
    height: 91vh;
    flex: 0.3;
    padding: 30px 0;
    position: sticky;
    top: 9vh;
}

.content-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    cursor: pointer;
    color: white;
}
.content-1:hover {
    background-color: rgb(191, 49, 49);
}
.content-1 a {
    margin-top: 3px;
    text-decoration: none;
    color: white;
}



.section-right {
    width: 100%;
    background-color: white;
}
.lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


/* style on table  */
table {
    border-collapse: collapse;

}

th,
td {
    border: 1px solid black;
    padding: 8px;
}
.table-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}



.container-form {
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 3;

}

.header {
    display: flex;
    padding: 10px;
    background-color: black;
    border-bottom: teal solid 3px;
    height: 22vh;
}

.header h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.searchproduct {
    margin-top: 15px;
    margin-left: 440px;
    margin-right: 10px;
    width: 70%;
}

.searchproduct input[type='search'] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 98%;
    margin: 10px;
}

th,
td {
    border: solid 1px black;
    padding: 10px;
}

thead {
    background-color:rgb(71, 70, 70);
    color: white;
}



/* _________________StocksProduct___________ */
.StocksProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.displayform {
    background-color: rgb(240, 236, 236);
    width: 20%;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 8%;
    padding: 8px;
    border-radius: 10px;
    color: black;
    border: 3px solid  rgb(22, 113, 107);
    box-shadow: -3px 5px 87px -33px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: -3px 5px 87px -33px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: -3px 5px 87px -33px rgba(0, 0, 0, 0.83);
}
.displayform:hover {
    background-color: rgb(22, 113, 107);
    color: white;
    border: 3px solid #dcdcdc;
    cursor: pointer;
}
.btn{
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    justify-content: space-between;
}
 .content h3{
    margin-left: 10px;
    font-size: 20px;
} 
