*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
}
nav{
    display: flex;
}
.nav-left{
    width: 50%;
    background-color: aqua;
}
.nav-right{
    width: 50%;
    background-color: bisque;
}